#video-fond {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#video-fond > video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* 1. Pas de support d'object-fit */
@media (min-aspect-ratio: 16/9) {
  #video-fond > video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  #video-fond > video {
    width: 300%;
    left: -100%;
  }
}
/* 2. En cas de support d'object-fit, écrase les règles en (1) */
@supports (object-fit: cover) {
  #video-fond > video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.fh5co-hero, .fh5co-hero .fh5co-table, .fh5co-hero .fh5co-table-cell, .fh5co-hero .fh5co-parallax {
	height:1000px;
}

.vidSpecial {
	width:100%;
	height:100%;
}

@media screen and (max-width: 700px)  {
	h1 {
			font-size:60px !important;
	}
}